.container-fluid
  %h1 Tasks
  .row-fluid
    .span4.well
      %h3
        List

      = simple_form_for(@list, remote: true, html: {class: 'form-search'}) do |f|
        = f.input :name
        = f.button :submit, "+"

      %table#lists.table.table-hover
        %tbody
          = render @lists

    .span8.well#tasks

#task_dialog.hide.fade.modal
