%tr.info
  %td
    =task.text.upcase
    %br
    =task.address
  %td
    %button{class: "btn-info btn-small edit_task_button", "data-toggle" => "modal", "data-action" => "#{edit_list_task_path(@list, task)}"} Edit
