.container
  #log-carousel.carousel.slide
    %a{href: "#{user_omniauth_authorize_path(:facebook)}"}
      .btn-face
    / Carousel items
    .carousel-inner.thumbnail
      .active.item
        %img{src: "/assets/task2.jpg", style: "height: 558px; width: 940px"}
        .carousel-caption
          %h4 Get organized quickly
          %p Taste the very fast performance thanks to the unique technology of Todoist HTML5. Offline access without delay or waiting.
      .item
        %img{src: "/assets/task1.jpg", style: "height: 558px; width: 940px"}
        .carousel-caption
          %h4 Conquer the complexity
          %p Manage projects of any complexity creating nested tasks, adding deadlines, assigning priorities and using color coding. Todoist includes everything you need and nothing Unnecessary.
    / Carousel nav
    %a.carousel-control.left{"data-slide" => "prev", href: "#log-carousel"} &lsaquo;
    %a.carousel-control.right{"data-slide" => "next", href: "#log-carousel"} &rsaquo;
